.main-div{
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

}
.history-title{
    text-align: center;
    margin-bottom: 20px;
    color: #0a8dbd;
}
.history-list{
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.history-item{
    background-color: #fff;
    border: 1px solid #ddd;
    height: 90px;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 55px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.histroy-delete{
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}